.homeClients {
    padding: 4.6875rem 0;
}

.homeClientsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7.5rem;
}

.homeClientsListItem {
    transition: .3s;
    opacity: 0.25;
}

.homeClientsListItem:hover {
    opacity: 1;
}

.homeClientsList img {
    object-fit: contain;
}

@media (max-width: 1290px) {
    .homeClientsListItem {
        max-width: 160px;
    }

    .homeClientsList img {
        width: 100%;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 590px) {

}