.mapSection {
    height: 520px;
    background: #2E2E2E;
}

@media (max-width: 768px) {
    .mapSection {
        height: 420px;
    }
}


@media (max-width: 590px) {
    .mapSection {
        height: 320px;
    }
}